{% extends 'firstapp/base.html' %}

{% load static %}
{% block style_block %}
<link rel="stylesheet" href="{% static 'firstapp/login_register.css' %}">
{% endblock %}


{% block body_block %}
<div class="content-container">
    <h1 class="section-title">Create New Quiz</h1>
    <form action="" method="post" class="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="title_quiz">Quiz Title</label>
            <input type="text" name="title_quiz" id="title_quiz" required>
        </div>
        <div class="form-group">
            <label for="question">Question</label>
            <textarea name="question" id="question" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="datetime_start">Start Date-Time</label>
            <input type="datetime-local" name="datetime_start" id="datetime_start" required>
        </div>
        <div class="form-group">
            <label for="datetime_end">End Date-Time</label>
            <input type="datetime-local" name="datetime_end" id="datetime_end" required>
        </div>
        <div class="rizzz" style="display: flex;justify-content: center;">
        <button type="submit" class="button button-primary">Create Quiz</button>
        </div>
    </form>
</div>
{% endblock %}